In [1]:
import pandas as pd
df = pd.read_csv("car_prices.csv", on_bad_lines='skip')

In [2]:
# Displaying basic information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6506 entries, 0 to 6505
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          6506 non-null   int64
 1   make          6483 non-null   object
 2   model         6482 non-null   object
 3   trim          6460 non-null   object
 4   body          6328 non-null   object
 5   transmission  6144 non-null   object
 6   vin           6506 non-null   object
 7   state         6506 non-null   object
 8   condition     5797 non-null   float64
 9   odometer      6498 non-null   float64
 10  color         6489 non-null   object
 11  interior      6489 non-null   object
 12  seller        6506 non-null   object
 13  mmr           6506 non-null   int64
 14  sellingprice  6506 non-null   int64
 15  saledate      6506 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 813.4+ KB
None

2. Data Cleaning

In [3]:
# Dropping rows with any missing values
df.dropna(inplace=True)

# Verifying that there are no missing values left
print(df.isnull().sum())

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [13]:
# Converting 'saledate' to datetime
df['saledate'] = pd.to_datetime(df['saledate'], utc=True, errors='coerce')

# Verifying the data types
print(df.dtypes)

year                          int64
make                         object
model                        object
trim                         object
body                         object
transmission                 object
vin                          object
state                        object
condition                   float64
odometer                    float64
color                        object
interior                     object
seller                       object
mmr                           int64
sellingprice                  int64
saledate        datetime64[ns, UTC]
dtype: object

In [11]:
import numpy as np
from scipy import stats

# Calculating Z-scores for the 'sellingprice' column
df['z_score'] = np.abs(stats.zscore(df['sellingprice']))

# Removing rows where the Z-score is greater than 3
df = df[df['z_score'] <= 3]

# Dropping the 'z_score' column as it's no longer needed
df.drop(columns=['z_score'], inplace=True)

# Remove duplicates based on VIN
df.drop_duplicates(subset='vin', inplace=True)

# Verifying the changes
print(df.describe())

# Save the cleaned dataset
df.to_csv('car_prices_cleaned.csv', index=False)

              year    condition       odometer           mmr  sellingprice
count  5331.000000  5331.000000    5331.000000   5331.000000   5331.000000
mean   2010.248921     3.381542   60593.190771  15125.998875  14902.021384
std       3.948369     0.999715   54461.468555   9682.690793   9759.954185
min    1991.000000     1.000000       1.000000     25.000000    150.000000
25%    2008.000000     2.600000   23082.000000   8275.000000   7900.000000
50%    2012.000000     3.600000   40794.000000  13600.000000  13400.000000
75%    2013.000000     4.200000   88281.000000  20500.000000  20500.000000
max    2015.000000     5.000000  999999.000000  62000.000000  51700.000000

<ipython-input-11-0050d697aa92>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['z_score'], inplace=True)

Segmentation Analysis

1. Segmentation by Make and Model

In [ ]:
# Count of cars by make and model
make_model_count = df.groupby(['make', 'model']).size().reset_index(name='num_cars')
make_model_count = make_model_count.sort_values(by='num_cars', ascending=False)

In [ ]:
# Average selling price by make and model
make_model_price = df.groupby(['make', 'model'])['sellingprice'].mean().reset_index(name='avg_price')
make_model_price = make_model_price.sort_values(by='avg_price', ascending=False)

In [ ]:
print(make_model_count.head())
print(make_model_price.head())

2. Segmentation by Body Type

In [ ]:
# Count of cars by body type
body_count = df.groupby('body').size().reset_index(name='num_cars')
body_count = body_count.sort_values(by='num_cars', ascending=False)

# Average selling price by body type
body_price = df.groupby('body')['sellingprice'].mean().reset_index(name='avg_price')
body_price = body_price.sort_values(by='avg_price', ascending=False)

In [ ]:
print(body_count.head())
print(body_price.head())

3. Segmentation by Transmission Type

In [ ]:
# Count of cars by transmission type
transmission_count = df.groupby('transmission').size().reset_index(name='num_cars')
transmission_count = transmission_count.sort_values(by='num_cars', ascending=False)

# Average selling price by transmission type
transmission_price = df.groupby('transmission')['sellingprice'].mean().reset_index(name='avg_price')
transmission_price = transmission_price.sort_values(by='avg_price', ascending=False)

In [ ]:
print(transmission_count.head())
print(transmission_price.head())

4. Segmentation by Car Condition

In [ ]:
# Count of cars by condition
condition_count = df.groupby('condition').size().reset_index(name='num_cars')
condition_count = condition_count.sort_values(by='num_cars', ascending=False)

# Average selling price by condition
condition_price = df.groupby('condition')['sellingprice'].mean().reset_index(name='avg_price')
condition_price = condition_price.sort_values(by='avg_price', ascending=False)

In [ ]:
print(condition_count.head())
print(condition_price.head())

5. Segmentation by Odometer Reading

In [ ]:
# Segment cars by odometer ranges
df['mileage_range'] = pd.cut(df['odometer'], bins=[0, 20000, 40000, 60000, 80000, 100000, float('inf')],
                             labels=['0-20k', '20k-40k', '40k-60k', '60k-80k', '80k-100k', '100k+'])

# Count of cars by mileage range
mileage_count = df.groupby('mileage_range').size().reset_index(name='num_cars')
mileage_count = mileage_count.sort_values(by='num_cars', ascending=False)

# Average selling price by mileage range
mileage_price = df.groupby('mileage_range')['sellingprice'].mean().reset_index(name='avg_price')
mileage_price = mileage_price.sort_values(by='avg_price', ascending=False)

In [ ]:
print(mileage_count.head())
print(mileage_price.head())

Demographic Analysis

1. Analysis by State

In [ ]:
# Average selling price by state
state_price = df.groupby('state')['sellingprice'].mean().reset_index(name='avg_price')
state_price = state_price.sort_values(by='avg_price', ascending=False)

# Count of cars by state
state_count = df.groupby('state').size().reset_index(name='num_cars')
state_count = state_count.sort_values(by='num_cars', ascending=False)

In [ ]:
print(state_price.head())
print(state_count.head())